html
  head
    title Express HTML
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js')
    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css')
    link(rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js')
  body
    div(style='margin:100px;')
        .container
          a.navbar-brand(href='/') Express HTML
        .jumbotron(style='padding:40px;')
          h1 #{heading}
          p This is a simple html file for EXPRESS.JS
          p
            a.btn.btn-primary.btn-lg(href='https://expressjs.com/' role='button') Learn more
